* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: inherit;
}

body {
	font-family: sans-serif;
}

.light {
	background-color: #e5e5e5;
	color: #111;
}

.dark {
	background-color: #111;
	color: #e5e5e5;
}

.content {
	margin-bottom: 3rem;
	display: grid;
	row-gap: 3rem;
}

img {
	width: 100%;
	object-fit: cover;
	display: block;
}

.error,
.loading {
	margin-left: 5rem;
}
